pkgbase = flatpost
	pkgdesc = Desktop environment agnostic Flathub software center
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/GloriousEggroll/flatpost
	arch = any
	license = BSD-2-Clause
	depends = appstream
	depends = flatpak
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = python-requests
	source = flatpost-1.0.4.tar.gz::https://github.com/GloriousEggroll/flatpost/archive/1.0.4.tar.gz
	sha256sums = 8e9a745d68c4bb64548d6bdc9e7fe80c1cd90f1e658af8e99b3a7f163de5a2f5

pkgname = flatpost
